
.wrp-content, .spinner-wrp{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trnsbtn{
    border: none;
    font-size: 18px;
    padding: 6px;
    width: 170px;
    border-radius: 10px;
    font-family: "Exo-2";
    background: #5853c3;
    color: white;
    margin-bottom: 10px;
}

.disabled{
    border: none;
    font-size: 18px;
    padding: 6px;
    width: 170px;
    border-radius: 10px;
    font-family: "Exo-2";
    background: #999999;
    pointer-events: none;
    color: white;
    margin-bottom: 10px;
}

.txt{
    font-size: 12px;
    margin-bottom: 10px;
}